In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
#using mine dataset
df=pd.read_csv('mine.csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [4]:
#Getting the firt few rows of the DataFrame
df.head

<bound method NDFrame.head of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [6]:
#Getting the last few rows of the dataFrame
df.tail

<bound method NDFrame.tail of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [7]:
#Getting the summary of the dataFrame
df.info

<bound method DataFrame.info of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [8]:
#clears rows or columns containing missing values
df.dropna

<bound method DataFrame.dropna of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [9]:
#Replacing missing valuees in the DataFrame
df.fillna

<bound method DataFrame.fillna of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [11]:
#removing wrong data
R=df.dropna()
print(R)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [12]:
df['Duration'] = df['Duration'].astype('float')

# astype method is used to change the format of values
print(df)

     Duration  Pulse  Maxpulse  Calories
0        60.0    110       130     409.1
1        60.0    117       145     479.0
2        60.0    103       135     340.0
3        45.0    109       175     282.4
4        45.0    117       148     406.0
..        ...    ...       ...       ...
164      60.0    105       140     290.8
165      60.0    110       145     300.0
166      60.0    115       145     310.2
167      75.0    120       150     320.4
168      75.0    125       150     330.4

[169 rows x 4 columns]

In [15]:
fine = df.drop_duplicates()

# Removing copies
print(fine)

     Duration  Pulse  Maxpulse  Calories
36       60.0    102       127     300.0
37       60.0    100       120     300.0
40       45.0     90       112     180.1
71       60.0    109       153     387.6
113      45.0    100       120     225.3
155      60.0    111       151     368.5

In [16]:
correlation = df['Duration'].corr(df['Calories'])

print(correlation)

0.8789437443784167

In [19]:
#using work dataset
data=pd.read_csv('work.csv')
print(data)

     Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84

In [20]:
#Getting the first few rows of the DataFrame
data.head

<bound method NDFrame.head of      Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84>

In [21]:
#Getting the last few rows of the dataFrame
data.tail

<bound method NDFrame.tail of      Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84>

In [22]:
#Getting the summary of the dataFrame
data.info

<bound method DataFrame.info of      Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84>

In [23]:
#clears rows or columns containing missing values
data.dropna

<bound method DataFrame.dropna of      Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84>

In [24]:
#Replacing missing valuees in the DataFrame
data.fillna

<bound method DataFrame.fillna of      Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84>

In [25]:
#removing wrong data
classic=data.dropna()
print(classic)

     Name     city age py-score
0    Emma  Kampala  23       90
1  Wilber    Mbale  26       75
2   Robin     Gulu  25     mine
4    Yeko   Tororo  20       94
6   Jesca  Mbarara  21       84

In [31]:
nice = data.drop_duplicates()

# Removing copies
print(nice)

     Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84

In [37]:
#modifying wrong formats
wait=data.loc[2, 'py-score'] = 80
print(wait)

80

In [38]:
data = pd.DataFrame({
    'Name': ['Emma', 'Wilber', 'Robin', 'Yeko', 'Jesca'],
    'city': ['Kampala', 'Mbale', 'Gulu', 'Tororo', 'Mbarara'],
    'age': [23, 26, 25, 20, 21],
    'py-score': [90, 75, 80, 94, 84]
})

# Create a correlation matrix
correlation_matrix = data.corr()

print(correlation_matrix)

               age  py-score
age       1.000000 -0.838364
py-score -0.838364  1.000000

C:\Users\DELL LATITUDE E7250\AppData\Local\Temp\ipykernel_4820\1703594790.py:9: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = data.corr()